<ion-header [translucent]="true">
  <ion-toolbar style="--background: #3c8f8f; border-bottom: 0px;">
    <ion-title style="color: #ffffff; font-size: 20px; text-align: center;">Queue List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  [fullscreen]="true" class="ion-padding">
  <ion-grid>
    <div *ngFor="let check of queueCheck" >
      <span *ngIf="check.exists; else elseBlock">
        <!-- Row for Displaying Current Queue Numbers -->
        <ion-row class="ion-justify-content-center current_queue_col">
          <ion-col>

            <!-- Col for Displaying Queue Number being entertained -->
            <ion-card class="current_queue_card" *ngFor="let item of currentQueueList | slice:0:1;" >
              <ion-card-header>
                <ion-card-title style="text-align: center; color: white;" > <p class="queue_title">Queue Number Being Served: {{item.queue_pos}} </p> 
                </ion-card-title>
              </ion-card-header>

              <ion-card-content>
                
                <p class="field_category">Name: </p>  <p class="field_value">{{item.Name}}</p>
                
              </ion-card-content>
            </ion-card>

          </ion-col>
        </ion-row>
      
        <!-- Row for Displaying Queue Numbers -->
        <ion-row class="ion-justify-content-center queue_col">
          <ion-col>

            <ion-card class="next_queue_card" *ngFor="let item of queueList | slice:1;" >
              <ion-card-header>
                <ion-card-title style="margin-top: -5px; font-size: 22px; text-align: center; color: white;">Queue Number: {{item.queue_pos}} </ion-card-title>
              </ion-card-header>
              <ion-card-content style="margin-top: -10px;">
        
                <p class="field_category">Name: </p>  <p class="field_value">{{item.Name}}</p>
                
              </ion-card-content>
            </ion-card>

          </ion-col>  
        </ion-row>
      </span>

      <ng-template #elseBlock>
        <!-- Row for Displaying Queue Numbers -->
        <ion-row class="ion-justify-content-center emptyQueue_col">
          <ion-col>

            <ion-card class="empty_queue_card" >
              <ion-card-header>
                <ion-card-title style="text-align: center; color: white;">No People in Queue</ion-card-title>
              </ion-card-header>
              <ion-card-content>

              </ion-card-content>
            </ion-card>

          </ion-col>  
        </ion-row>
      </ng-template>
    </div>  
    
  </ion-grid>

</ion-content>
