ion-content{
    --background: #c1ebeb;
}

.current_queue_card{
    background: linear-gradient(180deg, rgba(61,175,176,1) 0%, rgba(159,210,210,1) 100%);
    color: white;
}

.next_queue_card{
    background: linear-gradient(180deg, rgba(61,175,176,1) 0%, rgba(159,210,210,1) 100%);
    color: white; 
}

.empty_queue_card{
    background: linear-gradient(180deg, rgba(61,175,176,1) 0%, rgba(159,210,210,1) 100%);
    color: white; 
}

.current_queue_col
{
    margin-top: -10px;
}

.emptyQueue_col
{
    margin-top: -10px;
}

.queue_title
{
    font-size: 25px;
    margin-top: -3px;
    margin-bottom: -10px;
}

.queue_num
{
    font-size: 20px;
    margin-bottom: -10px;
}

.queue_subtitle
{
    text-align: center;
    margin-bottom: -5px;
}

.queue_content
{
    font-size: 20px;
}

.field_category
{
    font-weight: 500;
    text-align: center;
    font-size: 16px;
    display: inline;
}

.field_value
{
    
    font-weight: 300;
    text-align: center;
    font-size: 14px;
    display: inline;
}